<ion-header>
  <ion-navbar>
    <ion-title>
      Uter
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div style="text-align:center">
    <h1>To Dos</h1>
    <div *ngFor="let chore of chores">
      <ion-card *ngIf="chore.attributes.state === 'opened'">
        {{chore.attributes.title}}
      </ion-card>
    </div>
  </div>
  <div style="text-align:center">
    <h1>For review</h1>
    <div *ngFor="let chore of chores">
      <ion-card *ngIf="chore.attributes.state === 'completed'">
        {{chore.attributes.title}}
      </ion-card>
    </div>
  </div>
  <div style="text-align:center">
    <h1>Done</h1>
    <div *ngFor="let chore of chores">
      <ion-card *ngIf="chore.attributes.state === 'closed'">
        {{chore.attributes.title}}
      </ion-card>
    </div>
  </div>
</ion-content>
