<div class="burger"></div>
<div class="settings"></div>
<ion-header>
  <ion-navbar>
    <ion-title style="align:center">
      <h1 class="title" style="text-align: center;"><img class="title-image" src="../../assets/icon/assets/viessmann.png" style="width: 140px;"/></h1>
      <!--<h1 class="title" style="text-align: center;"><img class="title-image" src="../../assets/icon/raiffeisen.png" style="width: 140px;"/></h1>-->
    </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
  <div style="text-align:center">
    <div class="header" style="display: inline">
        <div class="wrap">
            <h2 style="color: #4a4a4a">Uter's SpeakyBank</h2>
        </div>
        <div style="height: 4px">
        </div>
        <ion-grid class="grid grind-mit-karrrrrusell" style="margin-top: -10px;">
          <ion-row>
            <ion-col width-10></ion-col>
            <ion-col width-80>
              <div class="wrap konto-wrap">
                <div class="kontostand">
                    {{ (balance/100 || 0) | currency: 'EUR':true}}
                </div>
                <div class="kontostand-text">
                    Balance
                </div>
              </div>
            </ion-col>
            <ion-col width-10>
              <div style="text-align:right">
                <button ion-button round (click)="addChore()" id="addChores">+</button>
              </div>
            </ion-col>
            </ion-row>
        </ion-grid>
    </div>
<div class="Line-Copy-4"></div>

    <div class="heading-wrapper">
        <div class= "status">To Do</div>
    </div>

    <div *ngFor="let chore of chores">
      <ion-card *ngIf="chore.attributes.state === 'opened'">
        <ion-grid>
          <ion-row style="height: 10px"></ion-row>
          <ion-row>

            <ion-col col-2>
              <img class="img" src="../../assets/icon/assets/Status/OK_Copy.png" (click)="markAsDone(chore.id)">
            </ion-col>

            <ion-col col-8>
              <div id="chore_title">
                {{chore.attributes.title}}
              </div>
              <div id="due_date">
                Until 17. September
              </div>
            </ion-col>

            <ion-col width-2>
              {{chore.attributes.value/100| currency: 'EUR':true}}
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>
    </div>
    <div class="Line-Copy-4"></div>
  </div>
  <div style="text-align:center">
    <div class="heading-wrapper">
        <div class= "status">In Review</div>
    </div>

    <div *ngFor="let chore of chores">
      <ion-card *ngIf="chore.attributes.state === 'completed'">
        <ion-grid>
          <ion-row style="height: 10px"></ion-row>
          <ion-row>

            <ion-col col-2>
              <img class="img" src="../../assets/icon/assets/Status/OK.png" (click)="markAsDone(chore.id)">
            </ion-col>

            <ion-col col-8>
              <div id="chore_title">
                {{chore.attributes.title}}
              </div>
              <div id="due_date">
                Until 17. September
              </div>
            </ion-col>

            <ion-col width-2>
              {{chore.attributes.value/100| currency: 'EUR':true}}
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>
    </div>
    <div class="Line-Copy-4"></div>
  </div>
  <div style="text-align:center">
    <div class="heading-wrapper">
        <div class= "status">Done</div>
    </div>

    <div *ngFor="let chore of chores">
      <ion-card *ngIf="chore.attributes.state === 'closed'">
        <ion-grid>
          <ion-row style="height: 10px"></ion-row>
          <ion-row>

            <ion-col col-2>
              <img class="img" src="../../assets/icon/assets/Status/OK_Green.png" (click)="markAsDone(chore.id)">
            </ion-col>

            <ion-col col-8>
              <div id="chore_title">
                {{chore.attributes.title}}
              </div>
              <div id="due_date">
                Until 17. September
              </div>
            </ion-col>

            <ion-col width-2>
              {{chore.attributes.value/100| currency: 'EUR':true}}
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>
    </div>
  </div>


</ion-content>
