<ion-header>
  <ion-navbar>
    <ion-title>
      Uter
    </ion-title>
    <ion-buttons end>
    {{balance/100 | currency: 'EUR':true}}
  </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div style="text-align:center">
    <h1>To Dos</h1>
    <div *ngFor="let chore of chores">
      <ion-card *ngIf="chore.attributes.state === 'opened'">
        {{chore.attributes.title}}
        {{chore.attributes.value/100| currency: 'EUR':true}}
      </ion-card>
    </div>
  </div>
  <div style="text-align:center">
    <h1>For review</h1>
    <div *ngFor="let chore of chores">
      <ion-card *ngIf="chore.attributes.state === 'completed'">
        {{chore.attributes.title}}
        {{chore.attributes.value/100| currency: 'EUR':true}}
        <button ion-button (click)="markAsDone(chore.id)">
        </button>
      </ion-card>
    </div>
  </div>
  <div style="text-align:center">
    <h1>Done</h1>
    <div *ngFor="let chore of chores">
      <ion-card *ngIf="chore.attributes.state === 'closed'">
        {{chore.attributes.title}}
        {{chore.attributes.value/100| currency: 'EUR':true}}
      </ion-card>
    </div>
  </div>
</ion-content>
